<!-- item-form.component.html -->

<h3 class="m-4 text-danger">
    {{ isEditMode ? 'Item Edit' : 'Item Create' }}
</h3>
<hr />
<div class="d-flex justify-content-center">
    <form class="w-50 needs-validation" [formGroup]="fg" (ngSubmit)="onSubmit()">
        <div>
            <label class="form-label" for="title">Title</label>
            <input class="form-control"  formControlName="title"
                id="title" type="text" />
            <div class="invalid-feedback">
                Title is required.
            </div>
        </div>
        <div class="mt-3">
            <label class="form-label" for="contactMobileNo">Amount</label>
            <input class="form-control"  formControlName="amount" id="amount" type="number" />
            <div class="invalid-feedback">
                @if(amount.hasError('required')) {
                Amount is required.
                }
                @if(amount.hasError('min')) {
                Amount should more than {{ amount.getError('min').min }}.
                }
            </div>
        </div>
        <div class="mt-3">
            <label class="form-label" for="contactMobileNo">Quantity</label>
            <input class="form-control"  formControlName="quantity" id="quantity" type="number" />
        <div class="invalid-feedback">
            @if(quantity.hasError('required')) {
            quantity is required.
            }
            @if(quantity.hasError('min')) {
            quantity should more than {{ quantity.getError('min').min }}.
            }
        </div>
        </div>
        <div class="mt-3 d-flex justify-content-between">
            <button class="btn btn-secondary" (click)="onBack()" type="button">
                Cancel
            </button>
            <button [disabled]="!fg.valid" class="btn btn-danger" type="submit">
                Save
            </button>
        </div>
    </form>
</div>
