<!-- navbar.component.html -->
<nav class="navbar navbar-expand-md bg-danger container-fluid">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
            <img src="Liverpool-bird-removebg-preview.png" alt="logo" width="55" height="48">
            <span class=" ms-3 text-dark">Item Workflow</span>
        </a>
        <div class="navbar-collapse">
            <ul class="navbar-nav">
                @for (menu of menus; track menu.path) {
                <li class="nav-item">
                    <a class="nav-link text-white " [routerLink]="menu.path">{{ menu.title }}</a>
                </li>
                }
            </ul>
        </div>
        @if (authService.loggedInUser; as loggedInUser) {
        <span class="navbar-text">
            <span>{{ loggedInUser.userProfile.username }}</span>
            |
            <i class="bi bi-box-arrow-in-right align-middle text-primary" (click)="onLogout()"></i>
        </span>
        } @else {
        <button class="btn btn-outline-dark me-2" type="button" routerLink="/auth/login">
            Login
        </button>
        }
    </div>
</nav>