<!-- item-entry.component.html -->
<h3 class="m-4 text-danger">Item Entry</h3>

<div class="col mb-3">
    <input type="text" class="form-control w-25 border-danger" id="filter" placeholder="Filter..."
        [formControl]="filterInput" />
</div>

<hr />
<div class="d-flex justify-content-end mb-3">
    <button class="btn btn-danger" routerLink="/item/item-add">Add</button>
</div>

<table class="table table-hover  border-secondary">
    <thead class="bg-danger text-white">
        <tr>
            <th></th>
            <th>#</th>
            <th>Title</th>
           
            <th class="text-end pe-5">Amount</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Status</th>
        </tr>
    </thead>
    <tbody>
        @for (item of filterItems; track item.id) {
        <tr>
        <td>
            <i class="bi bi-pencil mx-2"routerLink="/item/item-edit/{{ item.id }}"></i>
            <i class="bi bi-trash mx-2" (click)="onConfirm(item)"></i>
        </td>
            
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            
            <td class="text-end pe-5">{{ item.amount |number :'1.4-4' }}</td>
            <td class="text-center">{{ item.quantity }}</td>
            <td class="text-center">{{ item.status }}</td>
        </tr>
        }
        @empty {
        <tr>
            <td colspan="6" class="text-center">Data not found</td>
        </tr>
        }
    </tbody>
</table>